*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: #003f59;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1.6rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 960px) {
  body {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
}

h2 {
  color: #003f59;
  font-size: 3.6rem;
  line-height: 3.6rem;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 2rem;
}

h3 {
  color: #003f59;
  font-size: 3.6rem;
  line-height: 5rem;
  font-weight: 400;
  font-style: italic;
  text-transform: none;
}

h4 {
  color: #009EE0;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 700;
  font-style: italic;
}

h5 {
  color: #003f59;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

p,
.content {
  margin-bottom: 2rem;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.1s linear;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

pre {
  text-align: left;
}

code {
  color: #009ee0;
  font-family: "source-code-pro", monospace;
}

img {
  vertical-align: middle;
}

img.fit {
  width: 100%;
}

.text.left {
  text-align: left !important;
}

.text.center {
  text-align: center !important;
}

.text.right {
  text-align: right !important;
}

.container {
  margin: 0 auto;
  padding: 4rem 2rem;
  max-width: 96rem;
}

@media screen and (min-width: 960px) {
  .container {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
}

@media screen and (min-width: 960px) {
  .container.inline {
    display: flex;
  }

  .container.inline > section {
    margin-right: 3rem;
  }

  .container.inline > section:last-of-type {
    margin-right: 0;
    margin-left: 3rem;
  }
}

.deployed {
  text-align: center;
  margin-bottom: 2rem;
}

.deployed img {
  height: 3rem;
  margin: 1rem 2rem;
}

.button {
  display: inline-block;
  padding: 2.1rem 4rem 2rem;
  color: white !important;
  font-size: 2rem;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  background-image: linear-gradient(-199deg, #9b9b9b 0%, #9b9b9b 100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  border-radius: 3px;
  outline: none;
  -webkit-appearance: none;
  transition: none;
}

.button:hover {
  background-image: linear-gradient(-199deg, #888 0%, #888 100%);
  text-decoration: none;
}

.button.purple {
  background-image: linear-gradient(45deg, #009ee0 0%, #009ee0 100%);
}

.button.purple:hover {
  background-image: linear-gradient(45deg, #008ec9 0%, #008ec9 100%);
}

#header {
  padding: 1rem 2rem;
  text-align: center;
  background-image: linear-gradient(-210deg, #ddd 0%, white 100%);
}

#header .banner {
  position: absolute;
  top: 1.7rem;
  left: 2rem;
  text-align: left;
}

@media screen and (min-width: 960px) {
  #header .banner {
    position: absolute;
    top: 2.7rem;
    left: 4rem;
  }
}

@media only screen and (max-device-width: 320px) {
  #header .banner {
    left: 1rem;
  }
}

#header .banner span {
  display: inline-block;
  padding: 0.5rem 1.5rem;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
  color: #003f59;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}

#header nav {
  text-align: right;
  padding: 2rem 0;
}

@media screen and (min-width: 960px) {
  #header nav {
    padding: 3rem 2rem 0;
  }
}

@media only screen and (max-device-width: 320px) {
  #header nav {
    margin-right: -1rem;
  }
}

#header nav a {
  padding: 0.5rem 1rem;
  font-family: source-sans-pro, sans-serif;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 700;
  text-transform: uppercase;
  color: #F71B81;
  border: 1px solid #F71B81;
  border-radius: 3px;
}

#header nav a:hover {
  color: white;
  background: #F71B81;
  text-decoration: none;
}

#header .tagline {
  color: #003f59;
  font-family: source-sans-pro, sans-serif;
  font-size: 1.4rem;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  margin-top: -3rem;
  margin-bottom: 5rem;
}

@media screen and (min-width: 960px) {
  #header .tagline {
    margin-top: -7rem;
  }
}

#header .content,
#header .intro {
  margin: 0 auto 3rem auto;
  max-width: 51rem;
}

#header .logo {
  display: inline-block;
  max-width: 67.5rem;
}

#header .intro {
  color: #003f59;
  font-family: source-sans-pro, sans-serif;
  font-size: 2rem;
  line-height: 2.8rem;
}

#header .intro em {
  font-weight: 700;
}

#header .caption {
  font-size: 1.4rem;
  line-height: 2rem;
}

#header .caption h4 {
  margin-bottom: 0;
}

#header .buttons {
  margin: 6rem 0;
}

@media screen and (min-width: 960px) {
  #header .buttons {
    display: flex;
    justify-content: center;
  }
}

#header .buttons > div {
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #003f59;
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 700;
}

#header .buttons > div .button {
  margin-bottom: 1rem;
  width: 30rem;
}

@media only screen and (max-device-width: 320px) {
  #header .buttons > div .button {
    width: 28rem;
  }
}

#header .buttons > div:last-of-type {
  margin-bottom: 0;
}

@media screen and (min-width: 960px) {
  #header .buttons > div {
    margin: 0 1rem 0 0;
  }

  #header .buttons > div:last-of-type {
    margin: 0 0 0 1rem;
  }
}

#header .screenshots {
  position: relative;
  margin-bottom: 4rem;
}

#header .screenshots > div {
  display: flex;
  align-items: center;
}

#header .screenshots .code,
#header .screenshots .dashboard {
  box-shadow: 0 10px 20px 0 rgba(0, 47, 67, 0.5);
  border-radius: 4px;
}

#header .screenshots .code {
  margin-right: -2.5%;
  margin-left: 2.5%;
}

#header .screenshots .pointer {
  position: absolute;
}

#header .screenshots .pointer:nth-of-type(1) {
  width: 36%;
  top: 0.4%;
  left: 14.3%;
  transform: rotate(2deg);
}

#header .screenshots .pointer:nth-of-type(2) {
  width: 50.3%;
  top: 27.6%;
  left: 20.0%;
  transform: rotate(1deg);
}

#header .screenshots .pointer:nth-of-type(3) {
  width: 57%;
  top: 45.0%;
  left: 31.2%;
}

#footer {
  font-family: source-sans-pro, sans-serif;
  font-size: 1.2rem;
  line-height: 1em;
  margin: 0 auto 6rem auto;
  padding: 0 2rem;
  max-width: 96rem;
  text-align: center;
}

@media screen and (min-width: 960px) {
  #footer {
    font-size: 1.4rem;
    text-align: left;
  }
}

#footer a {
  font-style: italic;
  font-weight: 700;
  color: #009ee0;
}

#footer:before {
  display: block;
  content: '';
  height: 0.7rem;
  margin-bottom: 3rem;
  background-image: linear-gradient(225deg, #009ee0 0%, #ccebf8 100%);
  border-radius: 10px;
  opacity: 0.5;
}

@media screen and (min-width: 960px) {
  #footer > div {
    display: flex;
  }

  #footer > div div:first-child {
    flex: 1;
  }
}

#footer .logo {
  display: block;
  margin-bottom: 3rem;
}

#footer .logo img {
  max-width: 15.8rem;
}

#footer .logo:hover {
  opacity: 0.7;
}

#footer .menu {
  display: inline-block;
  margin-right: 3rem;
}

@media screen and (min-width: 960px) {
  #footer .menu {
    margin-right: 9rem;
  }
}

#footer .menu:last-of-type {
  margin-right: 0;
}

#footer .menu a {
  display: block;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

@media screen and (min-width: 960px) {
  #local .features {
    display: flex;
  }
}

#local .features > div {
  flex: 1;
  padding: 3rem 2rem 2rem 2rem;
  margin-bottom: 3rem;
  text-align: center;
  color: #009EE0;
  font-family: source-sans-pro, sans-serif;
  font-size: 1.2rem;
  line-height: 1.2rem;
  font-weight: 700;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: -0.17px;
  box-shadow: 0 2px 10px 0 rgba(0, 47, 67, 0.5);
  border-radius: 10px;
}

@media screen and (min-width: 960px) {
  #local .features > div {
    margin-right: 2rem;
    margin-bottom: 0;
  }
}

#local .features > div img {
  display: inline-block;
  margin-bottom: 3rem;
}

#local .features > div:last-child {
  margin: 0;
}

#ethos {
  text-align: center;
  padding-top: 6rem;
}

#ethos .concepts {
  margin: 6rem 0;
  font-size: 1.4rem;
  line-height: 2rem;
}

#ethos .concepts h4 {
  margin-bottom: 2rem;
}

#ethos .concepts a {
  font-weight: 700;
  text-decoration: underline;
}

#ethos .concepts a:hover {
  color: #38434f;
}

@media screen and (min-width: 960px) {
  #ethos .concepts {
    display: flex;
  }
}

#ethos .concepts > div {
  margin-bottom: 3rem;
  padding: 3rem 2rem 1rem 2rem;
  font-family: source-sans-pro, sans-serif;
  background: white;
  box-shadow: 0 2px 10px 0 rgba(0, 47, 67, 0.5);
  border-radius: 10px;
  text-align: left;
}

@media screen and (min-width: 960px) {
  #ethos .concepts > div {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-right: 2rem;
    margin-bottom: 0;
  }
}

#ethos .concepts > div:last-child {
  margin-right: 0;
}

#ethos .concepts > div > div {
  flex: 1;
}


